<div style="width:800px;margin:0 auto;">
	<h2>我的购物车</h2>
	<table border="1" align="center" width="700">
		<tr>
			<th>商品编号</th>
			<th>商品名称</th>
			<th>商品图片</th>
			<th>商品价格</th>
			<th>购买数量</th>
			<th>小计</th>
			<th>操作</th>
		</tr>

<?php if(!empty($_SESSION['cart'])){ 
	$total = 0;
?>
<?php foreach($_SESSION['cart'] as $v){ ?>
		<tr>
			
			<td>1</td>
			<td><?php echo $v['name']; ?></td>
			<td><img src="../public/goods/<?php echo $v['pic']; ?>" width="80" height="80"></td>
			<td><?php echo $v['price']; ?></td>
			<td><a href="./index.php?c=cart&a=jia&id=<?php echo $v['id']; ?>"><button>+</button></a><?php echo $v['num']; ?><a href="./index.php?c=cart&a=jian&id=<?php echo $v['id']; ?>"><button>-</button></a></td>
			<td><?php echo $v['price']*$v['num']; ?></td>
			<td><a href="./index.php?c=cart&a=del&id=<?php echo $v['id']; ?>">删除</a></td>
		</tr>
		<?php
			$total += $v['price']*$v['num']; 
		?>
	<?php } ?>
	<tr>
		<td colspan="6"><a href="./index.php?c=cart&a=delete">清空购物车</a></td><td>
		总金额：<?php echo $total; ?>
		</td>
		</tr>
<?php }else{ ?>
		<tr>
			<td colspan="6">没有商品,请<a href="./index.php">去购物</a></td>
		</tr>
<?php } ?>

		

	</table>
</div>